<!doctype html>
<title>Blextra</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <div class=page>
        <h1>Blextra</h1>
        <ul>
            <li><a href="">Search</a></li>
            <li><a href="info">Info</a></li>
            <li><a href="about">About</a></li>
        </ul>
 
 </div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
